[2016-10-24 20:58] samgilbert1983 opened #2 "S3 bucket name with period causes a curl error in the rs_replace_table function"
It seems the rs_replace_table() function errors when there is a period in the s3 bucket name, if this is the case is there a workaround?

Error message below:

[code]

[2016-10-29 16:25] sicarul commented on #2
@samgilbert1983 sorry i just now saw this. It seems this is a problem with upstream library aws.s3:
https://github.com/cloudyr/aws.s3/issues/23

I will check if i can merge a fix during the week, thanks for reporting!

[2016-11-16 16:07] sicarul commented on #2
@samgilbert1983 i don't have any buckets with points to test with, i followed the workaround in aws.s3's issue. Can you test if the latest version works for you? Thanks :)

[2017-05-15 15:27] sicarul commented on #2
I'll assume it's fixed, let me know otherwise.

[2017-05-15 15:27] #2 closed

[2017-06-22 09:03] lexadavid opened #4 "Recent Error"
Hi,
I am getting lately this error when trying upload data.frame to Redshift.

[1] "Getting number of slices from Redshift"
[1] "4 slices detected, will split into 16 files"
Error in if (key == "") { : argument is of length zero

Do you know why it happens? It seems to be connected with uploadToS3 function

[2017-06-22 17:19] sicarul commented on #4
Have you defined `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY`? It sounds like the error is coming from aws.s3, because that code isn't anywhere on redshiftTools `if (key == "") {`

[2017-06-22 18:23] Horizon-cmchugh opened #5 "No IAM role error"
Hi there,

Recently discovered this package and am trying to get it to work. I installed as listed and am using a connection provided (that works with dbWriteTable from DBI) though RPostgreSQL. I'm getting the following error when attempting load a data frame of two columns and 100,000 rows (as a test case):

[code]
Note, previously I get an error saying that it needed a package called `aws.ec2met

[2017-06-22 20:00] lexadavid commented on #4
yes I did defined keys.
But you were right it was problem with aws.s3. I installed older version from github (https://github.com/cloudyr/aws.s3/commit/ea777cbbc627dd864236ff278f3b617aa6322ade) and everything works again. Basically last 2 commits of aws.s3 cause problems for me. @sicarul

[2017-06-23 21:38] sicarul commented on #4
Thanks for the information, i'll check if we need to change something to adapt for the new version

[2017-06-27 04:53] ylteq opened #6 "Error message"
Hi, i am very excited about this tool.
But I got this message using "rs_upsert_table", i have everything specified and set up including bucket,split_files,region ,access_key ,secret_key,iam_role_arn. Thank you for your time and help!

**Error in curl_fetch_memory(uri) : Timeout was reached
Error in curl_fetch_memory(uri) :
  URL using bad/illegal format or missing URL
Error in role[["AWS_ACCESS_KE

[2017-06-28 14:59] everron commented on #5
Hello ,

The issue here is due to an upgrade of aws.s3 package that matches aws.signature new credentials management (see https://github.com/cloudyr/aws.s3/commit/9627d8fe415ab9b293a02256a7e1e7645bd40052 )

One simple solution is to install aws.s3 3.3.0 directly from CRAN with `install.packages("aws.s3")`
and not from cloudyr repository. You can also remove aws.ec2metadata package

[2017-07-15 14:33] sicarul commented on #6
@ylteq i just saw this, are you sure the parameters are correct? Sounds like some of the environment variables may be wrong

[2017-07-15 14:36] sicarul commented on #5
Thanks @everron for the diagnosis and sorry for not seeing this, i'll change the instructions to use the CRAN package for now, i think it didn't exist when i created the package. I'll adapt the code to the accept the new changes too afterwards.

Thanks!

[2017-07-15 14:36] #5 closed

[2017-07-17 11:33] DemianTinkiel opened #7 "Error in if (nrow(data) == 0) { : missing value where TRUE/FALSE needed"
with  AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY specified via Sys.setenv

redshiftTools 0.11
aws.s3 0.3.3

encountered when trying to rs_replace_table

--------Platform info ----
version
               _
platform       x86_64-redhat-linux-gnu
arch           x86_64
os             linux-gnu
system         x86_64, linux-gnu
status
major          3
minor          4.0
year           2017
month

[2017-07-17 11:44] DemianTinkiel commented on #7
2: uploadToS3(data, bucket, split_files)
1: rs_replace_table(mytableValues, dbcon = con, tableName = "mytable",
       bucket = "mybucket")

[2017-07-19 19:37] sicarul commented on #7
nrow(data) == 0 is throwing NA, are you sure you have a data.frame object as the first parameter to rs_replace_table instead of some other type @DemianTinkiel ?

You can check with class(mytableValues)

[2017-07-27 19:29] bmbagley opened #8 "adding 'headers =' to 'put_object'"
I have been getting an Access Denied error when trying to use the `rs_replace_table` command because I am unable to specify a list of headers for amz server side encryption.  Can this get added to both commands?

[code]

When calling `aws.s3::put_object` by itself, this works with our connection but I am unable to figure out how to add this into the call.

[2017-07-31 09:12] DemianTinkiel commented on #7
Hey, apologies for the delay. I found the issue, I was using the wrong dbCon object, as it was created using another library. Sorry!

[2017-07-31 09:12] #7 closed

[2017-08-01 03:32] sicarul commented on #7
Cool!

[2017-08-07 19:41] sicarul commented on #8
@bmbagley Can you send this as a pull request?

[2017-08-07 19:42] sicarul commented on #6
Closing for now, let me know if you need further help

[2017-08-07 19:42] #6 closed

[2017-10-09 17:35] sicarul commented on #8
I'll close this for now, let me know if you want to add it

[2017-10-09 17:35] #8 closed

[2017-10-09 17:35] sicarul commented on #4
It seems to work fine with the latest version of aws.s3, will close issue.

[2017-10-09 17:35] #4 closed

[2018-01-11 15:03] Emelieh21 opened #10 "Warning message causes rs_replace_table() function not to upload data"
First of all: thanks for the very useful package. I am a frequent user of the rs_replace_table function. However, today I noticed the upload to Redshift from S3 does not continue when a warning occurs.

I got this warning:

`<simpleWarning in result_fetch(res@ptr, n = n): Don't need to call dbFetch() for statements, only for queries>`

And after that **the upload to Redshift was skipped** and the

[2018-01-12 23:50] harpole2 opened #11 "receiving "ERROR: Query cancelled on user's request\n" in version 0.3.900"
I am trying to use the rs_upsert_table command after upgrading to version 0.3.900 and receive the error "ERROR:  Query cancelled on user's request\n"

However, the exact same commands in version 0.1.1 do not produce this error. Any idea what has changed that has caused this? Should I simply downgrade my version? Any help installing an older version?

For reference, my commands look like:
dbSendQue

[2018-01-13 18:39] sicarul commented on #11
@harpole2 i've found this issue with older RPostgres versions, can you try upgrading to the latest CRAN version?

[code]
If this doesn't work, please tell me the version you have installed of RPostgres

Thanks

[2018-01-13 18:41] sicarul commented on #10
You are right, the upload shouldn't stop for a warning, my mistake. Can you send a Pull Request with the change?

Thanks!

[2018-01-15 15:16] tharpole-chwy commented on #11
Update: It seems like the error below only occurs when split_files is not defined. Maybe because the number is so small? When I use split_files=1, no error occurs.

I updated to version 1.0.4 of RPostgres. Now, the table is being created, but not all the rows are moving over. Example output looks like this:

[1] "The provided data.frame has 2268 rows"
[1] "Getting number of slices from Redshift"
[

[2018-01-16 14:17] sicarul commented on #11
@harpole2 I think i identified the problem with yesterday's commit, can you reinstall redshiftTools and retry the same? Please notify me, thanks!

[2018-01-16 14:19] sicarul commented on #10
Thanks for the PR! Fixed by #12
Closing this issue

[2018-01-16 14:19] #10 closed

[2018-01-22 22:25] rmodepalli opened #13 "rs_create_table throwing an error $ Code : chr "AccessDenied""
Hi I am trying write R dataframe to Redshift table by using below function from EC2 instance.

rs_create_table(seg_mem_model, dbcon=conn, table_name='segmenattion_model', bucket=s3_bucket,
                   region = s3_region, iam_role_arn = aws_iam_role, split_files=4)

I got below error.

[1] "The provided data.frame has 1805422 rows"
List of 4
 $ Code     : chr "AccessDenied"
 $ Message  : chr

[2018-01-23 05:48] sicarul commented on #13
Hey @rmodepalli make sure the access keys you are using can access the S3 bucket you are using, most probably it doesn't have access to read and write to it, that error appears when the AWS keys used do not have access

https://docs.aws.amazon.com/AmazonS3/latest/dev/s3-access-control.html

[2018-01-23 15:20] rmodepalli commented on #13
Sicarul,

We have to use IAM Role instead of access key and secret key. My EC2 instance is assigned with IAM Role and I am able to copy the files using aws CLI. I am getting the error when I use below R function
rs_create_table(seg_mem_model, dbcon=conn, table_name='segmenattion_model', bucket=s3_bucket,
 region = s3_region, iam_role_arn = aws_iam_role, split_files=4)

[2018-02-22 10:19] frantisekjodel opened #14 "Not working for tables with an identity column"
(edited after spending more time working out the issue)

I have a table which has an incremental identity column.

I run:

`rs_replace_table(df = table, dbcon = con, table_name = 'table', bucket = "bucket")`

And get the following error after successful upload to S3

[code]

The error happens because the temporary table which is created with `like` doesn't take over the property of the id column a

[2018-02-24 01:30] sicarul commented on #14
I've never used that kind of auto-incrementing fields, is that a usual thing to use in a DataWarehouse?

Here i've used the best practices recommended by Amazon Redshift, if you figure out a correct way to copy the table for tables with autoincrementing ids i can either implement it when i have time, or review your PR if you send it

Thanks for reporting!
Have a nice day

[2018-02-24 01:31] sicarul commented on #13
Hmm i think it's because the iam role isn't used when copying the files, i'll have to review by April, if you can fix it i can review your PR before.

[2018-02-24 01:31] sicarul commented on #11
Closing on inactivity, reopen if this keeps happening

[2018-02-24 01:31] #11 closed

[2018-02-28 18:36] frantisekjodel commented on #14
It is a good practice from other SQL databases because of performance, afaik it isn't important in Redshift because of its architecture. However, it can also be there for a purpose, such as identifying newer records, exporting etc. Or simply a column which is already in place in a table which we want to load data into.

I will have a look at a solution from my private GitHub account, and write it

[2018-03-09 16:30] bajacks1 opened #15 "COPY Parameters"
Hello! Awesome package! Is there a way to pass parameters for the COPY statement (column mapping, data format parameters, data conversion parameters, data load operations)? I'm getting error messages that would be easily remedied with the parameter timeformat = 'auto', but I don't see a way to pass that along. Sorry if this is an inappropriate place to post this question; I am new to GitHub! And t

[2018-03-23 02:16] mike-weinberg opened #16 "specifying s3 keys overwrites env but doesn't reset when done"
https://github.com/sicarul/redshiftTools/blob/98283805370036974315b3175b8cb5901e7e27f1/R/upsert.R#L71

I may have misunderstood, but it looks like if I specify keys in this function it will implicitly modify my environment for the duration of my R session. That was surprising to me. Is this a deliberate behavior?

[2018-04-19 23:59] tomsing1 opened #17 "RPostgres supports interactions now"
Thanks a lot for making this package available!

I noticed that the README mentions that the `RPostgres` package doesn't support transactions for Redshift. Is that still the case after [this issue has been fixed](https://github.com/r-dbi/RPostgres/issues/150) ?

[2018-04-21 19:57] sicarul commented on #17
Yes, it works now! I'll update it soon. I've explained all of the features/gotchas of each library connecting to Redshift in this blogpost https://auth0.com/blog/a-comprehensive-guide-for-connecting-with-r-to-redshift/

[2018-04-21 20:01] sicarul commented on #14
I'll close this issue for now, let me know if you have any proposals and we can reopen

[2018-04-21 20:01] #14 closed

[2018-04-21 20:07] tomsing1 commented on #17
Great - thanks for pointing out your blog post!

[2018-04-21 20:07] #17 closed

[2018-05-30 14:30] rkbarney commented on #13
I think this may have soimething to do with this known aws.s3 bug: https://github.com/cloudyr/aws.s3/issues/122

Have we tried  `get_object(wanted_file, wanted_bucket, check_region = F)`?

https://gist.github.com/gm3dmo/418320c79f48005c740e7ae148a3883c

[2018-06-26 18:43] sicarul commented on #16
You are right, this was an issue. Fixed!

[2018-06-26 18:43] #16 closed

[2018-06-26 18:46] sicarul commented on #13
@rmodepalli if you can please check if this issue exists in the latest version

[2018-06-26 18:46] sicarul commented on #15
Hey @bajacks1 do you want to propose this as a Pull request?

[2018-06-29 00:06] RSIGitHubAdmin opened #18 "Issue installing aws.ec2metadata"
Hi,
The package is not working for me, so I installed the package again, please take a look at the errors and warnings.

Installing package into ‘C:/Users/muguet.RSINT/Documents/R/win-library/3.5’
**(as ‘lib’ is unspecified)**
Warning in install.packages :
  cannot open URL 'http://cloudyr.github.io/drat/bin/windows/contrib/3.5/PACKAGES.rds': HTTP status was '404 Not Found'
Warning in install.pack

[2018-06-29 15:39] sicarul commented on #18
Hey @RSIGitHubAdmin ! I'm seeing in that message that the package installed correctly, are the next steps failing?

It's also not something i can fix, i didn't author that package, it's just a dependency for aws.s3, which is not installed automatically so i added it to instructions.

[2018-07-26 15:42] Horizon-cmchugh opened #19 "Function hangs in 3.5.1?"
Hi there, fantastic package, I use this on the regular. Just recently update to R 3.5.1, however, and calling to the function rs_upsert_table seems to hang. It detects the number of splits, but never begins uploading to S3. I've tried the same process on a 3.4.2 installation and it works as normal.

Wondering if you're experiencing this as well or have tried.

Appreciate it!

[2018-07-26 18:52] sicarul commented on #19
Not only did i not update @Horizon-cmchugh, i didn't even realize we had 3.5.x yet haha

I can check when i have some time, but if you have some time available, can you try uploading some file with aws.s3 manually? If it's not working, it's not an issue with redshiftTools but the aws.s3 package which we depend on, and it should be reported to that package instead.

Thanks a lot for the report!

[2018-07-26 18:52] sicarul commented on #18
I'll close this issue for now, let me know if we need to reopen

[2018-07-26 18:52] #18 closed

[2018-07-26 18:53] sicarul commented on #13
I'll assume this is fixed since we are using it at Auth0 in production, let me know otherwise

[2018-07-26 18:53] #13 closed

[2018-07-31 16:54] mdh1984 opened #20 "Multibyte characters create STL load errors"
First just wanted to say thanks for creating such a great package. It's been incredibly valuable for me in my work.

The issue I've recently run into has to do with having multibyte characters in my dataset. I work at a digital marketing agency, and occasionally will have trademark symbols and other unicode characters in my datasets. R will interpret this as a single character, but AWS redshift de

[2018-08-01 14:14] Horizon-cmchugh commented on #19
Haha, I jumped the gun! I'll try to dig into it some time to see specifically what is causing it to hang and check aws.s3 directly, but will revert back to 3.4.2 in the meantime for loads using your package.

Thanks again for the awesome tool!

[2018-08-03 18:00] sicarul commented on #19
Ok, thanks, let me know if we need to change anything, any help to make it work is appreciated too!

[2018-08-03 18:00] #19 closed

[2018-08-03 18:02] sicarul commented on #20
Can you provide a minimal reproducible example for this problem? That would make it easier to debug

Thanks!

[2018-08-03 23:01] mdh1984 commented on #20
Yeah definitely! I've attached a .xlsx with one of the rows that was giving me issues (hopefully the encoding of the .xlsx doesn't alter any of the values). In the table you'll also see the nchar() of each string as seen in R. After you pull this into R and try to write it to your database, you'll hopefully see the same STL LOAD ERROR. It looks like the â is being changed to a bunch of dots "...."

[2018-08-06 13:16] raghuapce opened #21 "Unable to specify subfolders of s3 bucket"
I would like to upload data from R to redshift. The library doesn't have the functionality to point subfolders in S3 bucket. is there a solution for the same?

[2018-08-06 23:25] sicarul commented on #21
Hey Rag, i haven't thought of this usecase before, can you explain to me why would you need to do that? Thanks!

[2018-08-07 05:40] raghuapce commented on #21
Our data engineers are building pipelines which automates the transfer of data from each subfolders in s3  bucket to respective schema as tables in redshift. If we put all files in s3 bucket without subfolder, it may mess up the pipeline. Also, it would be difficult to trace if something goes wrong in pipeline.

[2018-08-07 12:53] sicarul commented on #21
@raghuapce i partially understand, though this library uploads the data from the dataset with a random name, is this still what you want to do? We usually, for this library just have a dedicated S3 bucket which just has temporary data (which is deleted at the end of the process to avoid charges). It sounds like you also want the temporary data to be there for debugging?

[2018-08-08 11:37] raghuapce commented on #21
@sicarul Our team has been allocated with only one s3 bucket and asked to create subfolders in the same for each project. So we don't have a dedicated s3 bucket. I did see temporary files are not deleted in s3 at the end of the process.  That's why I had asked a way to point subfolders in s3 bucket.

[2018-08-08 16:30] sicarul commented on #21
That's weird, the process has a step for deleting the files. This would require changing some functions on internal.R and adding parameters on the external functions, you may send a PR with this or you can wait until i can do it. However, i recommend you to ask for a dedicated S3 bucket, it has no additional cost to have many buckets.

Thanks!

[2018-08-09 06:28] raghuapce commented on #21
I have explored the function rs_create_table but I didn't find any parameter to delete temporary files in s3 bucket after creating the table in redshift. Also, could you explain, what are you referring to as PR?

[2018-08-19 17:09] sicarul commented on #21
Sorry for the delay, rs_create_table calls rs_replace_table, which calls deletePrefix:
https://github.com/sicarul/redshiftTools/blob/8b7d2958885f5728840b95d66eb7a5148a7c1bcc/R/replace.R#L96

[2018-08-21 03:50] ankhnesmerira opened #23 "rs_upsert_table() Error $code "AccessDenied""
Hi there, i'm trying to upsert a dataframe using rs_upsert_table() function.
I'm having AccessDenied issue, although I have tested the access_key_id and Access_key.
I think the problem rises from region, which for me is "ap-southeast-2".

When i first used the following I noticed that the region wasn't getting changed and it was still set to default us-east-1.

                 , dbcon=write_conn

[2018-09-06 05:05] sicarul commented on #21
@raghuapce can you tell me if you are still having problems with this? I've validated that the package always deletes it's temporary files. I'll close the issue for now.

[2018-09-06 05:05] #21 closed

[2018-09-06 05:09] sicarul commented on #20
Hey @mdh1984 sorry for the late reply, but i have tested this and confirmed that it's already rounding to the next size:
[code]

ad_title VARCHAR(64) encode zstd
);

Are you sure this is causing the issue?

[2018-09-06 05:10] sicarul commented on #15
@bajacks1 I've added option additional_parameters to support this requirement
https://github.com/sicarul/redshiftTools/commit/3d90556f1fbad9c9b46a2041ab296a705e2a9595

Closing the issue!

[2018-09-06 05:10] #15 closed

[2018-09-06 05:55] mdh1984 commented on #20
That's really strange, because I tested and the statement returned VARCHAR(32) for ad_title, so I think something in the encoding must be getting missed across the writing to .csv and copying/pasting. In any case, ever since my hacky fix it hasn't been giving me any issues, and this seems like such a niche problem I don't see the point in keeping it open.

Thanks again! This package makes life a t

[2018-09-06 05:56] #20 closed

[2018-09-06 12:46] sicarul commented on #20
@mdh1984 One important point to optimize loads is to make sure you are using the appropriate number of splits, if your cluster has 64 slices then it is a good idea to split your data into 64 files when uploading. Also make sure the S3 bucket you are using is colocated in the same region as the Redshift server.

https://docs.aws.amazon.com/redshift/latest/dg/t_splitting-data-files.html
https://docs

[2018-09-07 13:05] sicarul commented on #23
@ankhnesmerira can you try upgrading to the latest version of `aws.s3`? I think it may be related to an old version of it

[2018-10-09 21:20] sicarul commented on #23
I'll close this issue for now, feel free to reopen if you see the issue with the latest version

[2018-10-09 21:20] #23 closed

[2018-10-25 02:34] ankhnesmerira opened #26 "unable to find an inherited method for function ‘dbExecute’ for signature ‘\"character\", \"character\"’""
Hi there,
I've been able to use rs_upsert_table() function to date without any issues. However, recently I'm facing a problem that I haven't been able to solve. I'm trying to write a data.table, test, into Redshift. I have many tables like this and I haven't had any issues writing them to Redshift. However, this particular table is giving me trouble. I get this message:

 "unable to find an inheri

[2018-10-25 02:36] ankhnesmerira commented on #26
this is my session info

Session info --------------------------------------------------------------------------------------------------------------------------
 setting  value
 version  R version 3.5.1 (2018-07-02)
 system   x86_64, mingw32
 ui       RStudio (1.1.453)
 language (EN)
 collate  English_Australia.1252
 tz       Australia/Perth
 date     2018-10-25

Packages -------------------------

[2018-10-25 03:48] ankhnesmerira commented on #26
hi there,
after further investigation i realised that I was using a different connection for this table.
the difference was that i was including tcpkeepalive parameters for the test table. Whereas, the other tables were not using the tcpkeepalive connection:

  write_conn <- dbConnect(RPostgres::Postgres()
                          , dbname="blahblah"
                          , host='blahblah'

[2018-10-25 07:09] ankhnesmerira commented on #26
sorry, but it seems the above solution is not working after all. I tried connecting leaving out tcp keepalive options out, but same problem persists. it's very confusing.

[2018-10-25 23:40] sicarul commented on #26
That's strange @ankhnesmerira, i'm updating a *lot* of data and i've not had many timeouts, are you sure you need to specify those parameters?

Anyway, i'm not doing anything special, just querying with dbGetQuery and dbExecute, can you check if that connection is supporting dbExecute correctly with simple queries? It'd be weird that adding the keepalive would break executing statements

[2018-10-27 06:46] ankhnesmerira commented on #26
hi there,
thanks so much for your prompt response. the query works well for smaller data sizes, and times out for larger ones. I have a feeling though that it's got something to do with the firewall setting, as this problem didn't exist before before.
I'm able to work my way around it at the moment by dividing data into smaller pieces. I'll get back to you if any further progress on the issue.

Th

[2018-10-27 06:46] #26 closed

[2018-10-27 17:02] sicarul commented on #26
Ok glad to hear you found a workaround, let me know if you need to revisit this error.

[2018-10-30 10:04] JoGall commented on #23
Just had the same issue and reinstalling from GitHub (not CRAN) worked for me.

[2018-11-20 07:04] ankhnesmerira opened #27 "rs_upsert_table() connection timeout"
Hi there,
I've been using redshifttools package in R to write data back to redshift for months. Recently we've made some changes to redshift connections (which is outside of my control) and I get timeout error while running rs_upsert_table() function. The reason is that by the time the function is ready to write the data (only large data has this issue) back to redshift after copying the packets t

[2018-11-27 18:31] sicarul commented on #27
Hey @ankhnesmerira i don't understand why you can't divide in smaller chunks, the key should be unique so it wouldn't be an issue. If instead you need to add everything regardless of key, you should be appending, not upserting.

[2019-01-31 14:15] #27 closed

[2019-02-04 03:18] mfarkhann opened #28 "ERROR: Column length exceeds maximum allowed (maximum column length is 65535)"
Hi,
Thanks for this great package.
I've using it for several months, and it's been great for my team.

Yesterday we are trying to copy table from postgres to redsfhit,
it contains json field that consist of long text.
`max(nchar(col))` is between `32768` and `65536`

when we try to upload it to redshift, it produce this error

After digging around,
it is because of `calculateCharSize` set max size

[2019-02-05 00:35] #28 closed

[2019-02-11 20:35] ilyaminati opened #30 "upsert with column list"
Amazon recommends [two different upsert methods](https://docs.aws.amazon.com/redshift/latest/dg/t_updating-inserting-using-staging-tables-.html). `redshiftTools` implements method 1, replacing existing rows. Could it also implement method 2, specifying a column list?

[2019-02-19 21:01] ilyaminati commented on #30
@sicarul I have written an implementation of method 2 (specifying a column list) that I'd be happy to contribute. Right now, it's a separate function that i'm calling `rs_upsert_cols`. I could also combine it into a single function with `rs_upsert_table`, but it would modify the method signature. Please let me know if you're interested in either contribution.

[2019-02-19 23:16] sicarul commented on #30
It sounds like a very special and different scenario, you are talking about this right?
[code]

If so, i'd say it would make more sense as a separate function. I'd not name it _cols, since all the functions with _table refer to operations on tables. What do you think of `rs_partial_upsert_table`?

[2019-02-19 23:49] ilyaminati commented on #30
Yup, that scenario. I have an implementation I can contribute.

On Tue, Feb 19, 2019, 6:16 PM Pablo Seibelt <notifications@github.com wrote:

[2019-02-20 03:50] ilyaminati commented on #30
I think to be transparent to the user, my suggestion is:
* Refer to the [Redshift upsert doc](https://docs.aws.amazon.com/redshift/latest/dg/t_updating-inserting-using-staging-tables-.html) in the redshiftTools doc
* Call the new function `rs_col_upsert_table`
* Create an alias to `rs_upsert_table` called `rs_row_upsert_table`

I'll send a pull request shortly.

[2019-02-20 17:43] ilyaminati commented on #30
PR sent https://github.com/sicarul/redshiftTools/pull/31

[2019-02-20 20:50] sicarul commented on #30
Thanks, i've sent you some comments, i'll close this issue and we can follow up in the PR, thanks for the contribution!

[2019-02-20 20:50] #30 closed

[2019-04-11 02:48] rtjohn opened #32 "rs_create_table needs session_token argument on EC2"
I'm developing inside a docker container on an EC2 with a defined IAM role.
Here is the Dockerfile used to create the image:

[code]

Here is the basic issue:
[code]

So `bucket_exists()` confirms the bucket is there, but `rs_create_table()` thinks the bucket is not.   If you look at the first 16 lines of code for `s3HTTP()` which is what is called by `get_bucket()`

[code]

You can see that s3HTT

[2019-04-11 03:46] sicarul commented on #32
Did you try *not specifying* the access_key + secret_key values? I think your environment already has access without specifying any keys, from what i see when you do

[code]

I'm confused on why do you send the session token as an iam_role though

[2019-04-11 14:46] rtjohn commented on #32
The assignment of session token was me troubleshooting.  I agree that makes little sense and I removed that line.

Not specifying the values does not work (see below) and I know why.  All the `aws.s3` functions know to use the key, secret, AND session gathered after installing `library(ec2metadata)` on an EC2 without a ~/.aws/credentials file.  That is why `bucket_exists()` and `locate_credentials

[2019-04-11 15:58] sicarul commented on #32
I think i understand, if you can send me a PR i will review it, thanks!

[2019-04-11 19:29] rtjohn commented on #32
Ok great.  I have a working fork in my own repo now.  Works like a charm.  Let me test it for a few more days and make sure I didn't miss anything.

[2019-04-22 21:36] vikramgk9 commented on #13
Hello,

I would like to know if this issue was fixed. I am getting this error: Error in parse_aws_s3_response(r, Sig, verbose = verbose) : Forbidden (HTTP 403).
The access keys I am using is able to access the S3 Bucket and has read and write access into it. When i search for this error, there was a mention of setting check_region = FALSE in `get_object()` or `s3readRDS()`, but `rs_create_table` d

[2019-04-22 22:33] sicarul commented on #13
Can you try updating aws.s3 to the latest version and try again?

On Mon, Apr 22, 2019, 18:36 Vikram Konchady <notifications@github.com>
wrote:

[2019-04-23 22:13] mikejramsey56 opened #36 "Missing connection parameter on README"
A nit, but on your README page, under Drivers, RPostgres
test=dbGetQuery('select 1')

should be
test=dbGetQuery(**con**,'select 1')

Or at least on my windows RGui(64-bit) app.

[2019-05-04 14:48] sicarul commented on #36
Thanks, i'll fix it on my next commit

[2019-05-07 16:51] vikramgk9 commented on #13
By latest version do you mean aws.s3_0.3.12? I am already running on that version and but still have the problem.

[2019-05-12 00:00] sicarul commented on #32
Closed, thanks for the great contribution into making this package more useful for more people!

[2019-05-12 00:00] #32 closed

[2019-05-12 03:25] sicarul commented on #36
Done on dev branch, will merge soon

[2019-05-12 03:25] #36 closed

[2019-05-15 18:09] vikramgk9 commented on #13
Please let me know if there is any update on this issue

[2019-05-15 18:43] sicarul commented on #13
@vikramgk9 have you tried uploading to the same bucket with the same S3 credentials using aws.s3 as you are giving to the copy statement? I'm asking since the check_region issue did exist but has been solved in the latest versions of aws.s3.

[2019-05-18 15:41] niklasvm opened #39 "rs_replace_table error: Forbidden (HTTP 403)"
Hi there

Great package, thank you!

I am receiving an error when using:

[code]
Note: i have anonymised the S3 bucket and redshift schema.

Output:
[code]

I think I have found the issue which is that my S3 bucket requires server side encryption to be set. I have used the `aws.s3` package before and usually just pass
[code]
to `put_object`

Any thoughts? I'm happy to open a PR with a potential fi

[2019-05-18 17:19] sicarul commented on #39
@niklasvm Hey Niklas, thanks for reporting this! If i understand correctly, this exact same error appears when doing put_object with aws.s3 if you don't specify that header? Maybe as a general solution to this error, we could allow the redshift functions to send arbitrary headers for the s3 upload, WDYT?

[2019-05-19 06:04] niklasvm commented on #39
It turns out I was specifying the bucket incorrectly and adding the headers didn't make a difference. I was using `s3://mybucket` instead of `mybucket`. The code runs further now but bugs out at the redshift `COPY` command:
[code]

I only pass a `key` and `secret` so the `session` token isn't required. It completes successfully if I exclude the token for the case where `session` is empty. Will ope

[2019-05-24 15:02] lsabreu96 commented on #39
hello, @niklasvm !

I'm still new to connecting R with databases, so sorry in advance not being able to follow the discussion above. I've been running into about the same issue as you last wrote, which is:

Error in parse_aws_s3_response(r, Sig, verbose = verbose) :
  Forbidden (HTTP 403).
In addition: Warning message:
In value[[3L]](cond) :
  RS-DBI driver: (could not Retrieve the result : ERROR:

[2019-05-24 15:29] niklasvm commented on #39
Hi there. I narrowed the issue down to the redshift unload query. I have opened a PR with a fix that resolved it. Feel tree to give my fix a test: https://github.com/niklasvm/redshiftTools/tree/bug/redshift-copy-session

[2019-05-24 15:33] niklasvm commented on #39
PR here: https://github.com/sicarul/redshiftTools/pull/40

[2019-05-24 16:44] lsabreu96 commented on #39
Hi, there
Didn't work, actually I was using rs_create_table like so (sry for the confusion):

rs_create_table(df = df,
                dbcon = conn,
                table_name = "table_name",
                bucket = "my-bucket",
                region = "region",
                access_key = "access_key",
                secret_key = "secret_key",
                split_files = 4)

Yesterday the s

[2019-05-24 18:26] lsabreu96 commented on #13
hi, @sicarul ,

I'm facing the same issue. Yesterday as I had not updated packages, I was able to write database to Redshift, now as I've updated the packages this error is also popping up to me.

[2019-05-25 04:57] niklasvm commented on #39
Both `rs_create_table` and `rs_replace_table` use the same underlying logic. Your table would have created successfully but bugged out when trying to actually copy the data into the table. Have you tried to install my proposed update using:
[code]

Then try again

[2019-05-25 21:47] sicarul commented on #39
Fixed with Niklas' contribution, the PR is merged!

[2019-05-27 08:27] tsydorenko commented on #39
Hi there, I installed redshiftTools today via devtools::install_github("sicarul/redshiftTools") and have the same issue with rs_create_table as mentioned above:

[code]

[2019-05-27 13:20] lsabreu96 commented on #39
@niklasvm
I tried using your PR but the issue kept appearing.
updated the package after the merge as well, but the error persists

[2019-05-27 14:06] niklasvm commented on #39
Your error must be linked to something else then. Are you using a session token?

[2019-05-27 14:32] lsabreu96 commented on #39
Hm, no, I'm not.
Just the acess key and secret access key used to work.
Sorry for verbiage below, as I'm still new to R, this whole is still not clear to me. The flow should then be:
1)open connection
2)use get_session_token and store it
3)pass it within create table?

Many thanks in advance for the patience

[2019-05-27 15:31] sicarul commented on #39
@lsabreu96 can you provide some example code of the issue you are seeing to understand how you are calling the process? This fix is not yet in CRAN, so you will need to install from github:

`devtools::install_github('sicarul/redshiftTools')`

Thanks

[2019-05-27 16:30] lsabreu96 commented on #39
@sicarul , sure thing !

`install.packages("aws.ec2metadata", repos = c(cloudyr = "http://cloudyr.github.io/drat",` `getOption("repos")))`

`install.packages(c('devtools', 'httr', 'aws.s3', 'Rcpp', 'DBI'))`

`library(RPostgreSQL)`
`library(redshiftTools)`
`library(RPostgres)`

`devtools::install_github("sicarul/redshiftTools")`

`drv <- dbDriver("PostgreSQL")`

`pconn_rsql <- dbConnect(drv,

[2019-05-27 17:26] sicarul commented on #39
Hey @lsabreu96 i'm an idiot, i had merged the PR into the dev branch instead of master. Can you retry installing now?

You do not need the session token.

[2019-05-28 12:16] lsabreu96 commented on #39
No problem.
Just reinstalled it. It works! The database is being written.
I keep receiving the following error tho
'List of 4
 $ Code     : chr "AccessDenied"
 $ Message  : chr "Access Denied"
 $ RequestId: chr "DD7723771034D043"
 $ HostId   : chr "reiUv/SkZuvOOmrEOsxU1lFAkL/zdBkgwED6plMuGcGzHDOSW01ib5i+if4zfJgu1SdbBNuQVyQ="
 - attr(*, "headers")=List of 6
  ..$ x-amz-request-id : chr "DD772377103

[2019-05-28 12:23] lsabreu96 commented on #39
hey sicarul, no problem
It works ! The database is being now properly written.
I keep receiving the following  tho:
`Error in parse_aws_s3_response(r, Sig, verbose = verbose) : Forbidden (HTTP 403).`

As far as I'm concerned, this is not an issue, since the base is being written. Just wanted to give a heads up.
Thanks a lot for all the help and the support

[2019-05-28 13:00] niklasvm commented on #39
Just double check the data is actually loading because in my case it appeared to work when I got that same error message but after checking the table, the data hadn't copied

[2019-05-28 13:01] lsabreu96 commented on #39
it did copied !
I checked it

before I got the issue with the session token, I was still getting this error message, but able to write the data

[2019-05-28 13:38] sicarul commented on #39
Hey @lsabreu96 maybe that error appears because you have access to read/write but not delete data in the bucket?
The package deletes the data that it wrote on the bucket after copying to redshift to avoid keeping the data there.

[2019-05-28 13:38] #39 closed

[2019-05-28 21:27] noahjgreen295 opened #41 "rs_create_table only uploads half of records in dataframe"
Hi,
Really grateful for this package! I'm running into some trouble with `rs_create_table`. No matter what I do, the function seems to upload exactly half of all the records in the data frame, rather than all of them.

For example, if I create a data frame with 4 records and write to Redshift with `rs_create_table` like this:

[code]
I see this output in the console:
[code]

When I log into Redshi

[2019-05-28 21:46] noahjgreen295 commented on #41
I have found that setting `split_files=1` will upload all records. However I have some very high record counts in my real data and would rather rely on redshiftTools to split files in S3.

[2019-05-28 22:20] sicarul commented on #41
I'll try to replicate this bug during the week and debug, thanks for reporting!

[2019-05-29 03:32] noahjgreen295 commented on #41
Thanks for looking into this!

On Tue, May 28, 2019 at 6:20 PM Pablo Seibelt <notifications@github.com>
wrote:

[2019-05-29 16:43] lsabreu96 commented on #39
I see!
Thanks a lot for all the help, @sicarul
:)

[2019-05-29 22:09] sicarul commented on #41
@noahjgreen295 can you please check in an SQL client and report back, what do you get when running:

```select count(*) from stv_slices```

Thanks!!

[2019-05-29 22:34] sicarul commented on #41
I did put some checks now just in case so you can also try with the new version reinstalling from github (devtools::install_github).
https://github.com/sicarul/redshiftTools/commit/ca55a9ce7b0de0dcee13e31b2fd3ee7f0d761a2f

[2019-05-30 17:20] noahjgreen295 commented on #41
I got `64` as the output of `select count(*) from stv_slices`.
Just tested the new version and it works - thanks!

[2019-05-30 17:20] #41 closed

[2019-06-05 07:24] alexsiormpas opened #42 "R: Error when I try to upload a data-frame to a new table in Redshift database"
I'm trying to upload the content of a data frame into Redshift database using the following command:
`redshiftTools::rs_upsert_table(MyDataFrame, dbcon=con, table_name='NewTableInDB', bucket="mybucket")`

 but it throws an error below:

[code]
How can I resolve it?

[2019-06-15 13:25] niklasvm opened #43 "Download Function"
This is a feature request more than an issue.

I'm interested in a function that can be used to download the contents of a table or results of a query using the reverse of the pattern used for `rs_append_table`.
i.e. `Redshift --> S3 --> Local`

My main motivation is that a normal download via a `SELECT` query can take very long for large results.

[2019-06-16 00:45] sicarul commented on #43
Have you been spying on me? 😝 I swear to you i had the same idea a few weeks ago, i will get to it as soon as i can.

[2019-06-16 05:01] niklasvm commented on #43
Awesome thank you!

[2019-07-11 21:44] sicarul commented on #42
Just saw it, most likely you don't have permissions to write in "mybucket" with the AWS Key or Role you have setup in your environment.

[2019-07-26 13:51] jamesfeng1994 opened #45 "load into table successfully, but reported error when deleting data in s3"
Hi Pablo,

I use "rs_create_table" to upload data into redshift. The uploading process is successful but there is error when deleting those temp files in s3:

INFO:  Load into table 'iytqadwbvpzmgsfj' completed, 1 record(s) loaded successfully.

Error in parse_aws_s3_response(r, Sig, verbose = verbose) :
  Forbidden (HTTP 403).

[2019-08-01 19:00] sicarul commented on #45
Maybe your user has only permission to upload but not delete the data? Can you check with another AWS tool with the same AWS Access key?

[2019-08-13 19:46] JakeRuss opened #46 "Error with curl?"
Hey Pablo,

I've recently discovered this package and I have been using it with great success. So thank you!

I've encountered an error message that does not have an existing issue, so I wanted to report it, but I'm not quite sure what the problem is, so I can't give a reproducible example. As you'll see I am trying to load a very large data frame. So maybe that is the issue.

[code]

Also, someti

[2019-08-14 23:24] sicarul commented on #46
I'd suggest you upload your data frame in pieces to reduce the possibility of this error happening. Also i'd use some scheduler which has retries like airflow, the error you see is just random HTTPS failures happening while sending the data to Amazon S3, not much we can do from the package side about that i think

[2019-08-14 23:24] sicarul commented on #45
I'll close this issue, let me know if anything else

[2019-08-14 23:24] #45 closed

[2019-08-15 12:49] JakeRuss commented on #46
@sicarul Thanks for the suggestion. I had this idea myself yesterday and it worked, I just looped through the segments of the dataset in stages. I'll close.

[2019-08-15 12:49] #46 closed

[2019-09-04 23:02] cvanvelt commented on #39
Hi, I have installed redshiftTools via devtools::install_github("sicarul/redshiftTools") and still have the issue as described above.

rs_create_table(ctx_hip_meta, dbcon=db, table_name='metadata', bucket="bucket", split_files=10, session_token="")
Initiating Redshift table creation for table metadata
Initiating Redshift table replacement for table metadata
The provided data.frame has 1490596 rows

[2019-09-20 17:48] cristianvaldez opened #47 "AWS session token not found when using rs_create_table"
This error is showing now when uploading data

Warning message:
In value[[3L]](cond) :
  Failed to fetch row: ERROR:  AWS session token not found
DETAIL:
  -----------------------------------------------
  error:  AWS session token not found
  code:      8001
  context:
  query:     3867846
  location:  aws_credentials_parser.cpp:150
  process:   padbmaster [pid=8216]
  ---------------------------

[2019-09-28 13:00] agarwalanant commented on #47
I'm also facing same Issue.

[2019-10-04 11:33] JakeRuss opened #48 "Add error handling?"
I sometimes get internal server error (500) codes when redshiftTools (RST) is interacting with AWS's API. It doesn't matter if RST is uploading data files to S3 or deleting them. On a long running job, an error like this occasionally means I have to start it over. Have you encountered this?

I know we cannot eliminate those errors, but I wanted to engage you in discussing adding exception handling

[2019-10-04 16:14] BenoitFayolle commented on #43
Might be useful for the project, I've created a unloadToS3() function that'll do the first step of this feature. See my fork if interested.
The feature I needed was the ability to move tables from one RS cluster to another RS cluster (via S3, no local). Essential for huge tables. My `rs_move_table` function is still very hacky at the moment but it works for me..
All and all thanks for the package

[2019-10-14 11:40] nba2020gr opened #49 "Error in parse_aws_s3_response(r, Sig, verbose = verbose) : Forbidden (HTTP 403)."
Hello,
I'm using the below code to create a table:
[code]
But it hits an error then it tries to delete the temporary files. I've checked with the administrator and I have full rights to perform this operation. How may I bypass this issue?
[code]

[2019-10-14 14:41] sicarul commented on #49
That error is exactly that. Verify with the same aws credentials if you can delete the files with e.g. the aws client

[2019-10-21 12:34] tcederquist commented on #47
Issue #39 fixes an issue just like this one. You'll have to download via devtools to pick up the new master branch. There is an open issue at the bottom of issue #39 deleting files and that does not seem to work yet. I'll open a new issue to cover this new problem in the master branch.

[2019-10-21 12:39] tcederquist commented on #49
@sicarul I receive this exact same response. I can use another tool and same credentials to connect and delete the contents of this bucket. I'm using the master branch at the moment due to the s3 session token issue. Of note, I'm using R 3.5.2 and selected 'cran only packages' when installed your master branch with devtools.

[2019-10-30 17:43] aayushsahni opened #50 "S3 Bucket not found"
Hi @sicarul,

I have been working on a solution to push tables from R to redshift. However, I have encountered an issue while using the rs_upsert_table command wherein I am getting the following error. I have all the credentials and aws bucket access, however, the code is still bugging out.

***********ERROR*************
Client error: (403) Forbidden
Error in uploadToS3(df, bucket, split_files, ac

[2019-11-08 21:28] andmatt commented on #50
I've run into this issues a couple of time, and fixed it by forking the package internally and slightly modifying the `uploadToS3` function to make it less stringent in the bucket checks. The items that fixed the issue for me were

1. Setting the `check_region` kwarg as FALSE
2. Splitting the `bucket` arg (which I need to pass a `bucket/subfolder` string into to get the tool to write files to the

[2019-12-06 20:04] dzheng-root opened #51 "pb_tick"
Hi, looks like I have a bug with pb_tick (progress bar function I think). Any idea how to resolve it? I am new at R so I am not even sure which library this function comes from.

Here is my error message and traceback. Any help is greatly appreciated!

Error in pb_tick(self, private, len, tokens) : !self$finished is not TRUE

8: stop(simpleError(msg, call = if (p <- sys.parent(1L)) sys.call(p)))
7

[2019-12-06 20:05] dzheng-root commented on #51
https://github.com/r-lib/revdepcheck/pull/100/commits/c68efe393ec370149f3b72c98f1cb6fe202d92db

I tried to reinstall this package but says it is not available for R version 3.6.1. Not sure what other package has pb_tick in it...

[2019-12-07 17:26] ghost commented on #51
Nevermind, I avoided it by defining split_files = 1 I think.

[2019-12-07 17:26] #51 closed

[2019-12-11 14:56] jtelleriar commented on #21
I also require access to a specific subfolder within a bucket :(

[2019-12-12 09:37] jtelleriar commented on #50
I cannot write also on the main bucket directory.

Would it be possible to specify a subfolder within the bucket? Otherwise will have to use "pandas_redshift" Python Library :(

Thanks! :)

[2019-12-17 13:58] tcederquist opened #52 "UTF-8 character insert errors"
Double byte char types like utf-8 such as JP characters are actually a different size in redshift storage for varchar, needs to accommodate these double type types. Can you update the nchar function in tabledefinitions.R line 4 to read:

maxChar = max(nchar(col, type='bytes'), na.rm=T)

Sample code to create the issue:

`dat1 <- data.frame(A="あいう",stringsAsFactors = F)
b=rs_create_table(dat1, dbco

[2020-01-11 08:18] aayushsahni commented on #50
Hi everyone,

Ended up using pandas_redshift to solve my issue. Thanks @jtelleriar!

[2020-01-13 16:09] NSchnack commented on #49
The issue seems to be that access_key, secret_key etc. are overwritten by environment variables you haven't set. Try to set AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY & AWS_DEFAULT_REGION.

[2020-01-22 13:50] AlexSiormpas commented on #49
Thanks @NSchnack . How may I achieve this?
I tried to do it with the following code example:

`AWS_DEFAULT_REGION<-"eu-west-1"
`

but when I query it with the below to validate, I'm getting a blank field:

[code]

[2020-01-22 14:18] NSchnack commented on #49
It needs to be set as a environment variable which you can do with Sys.setenv or set before starting the R session. I would suggest something similar to:
`do.call(Sys.setenv,
	list(
		"AWS_ACCESS_KEY_ID" = "access_key",
    	"AWS_SECRET_ACCESS_KEY" = "secret_key",
    	"AWS_DEFAULT_REGION" = "region"
    )
)
`

[2020-01-22 14:59] nba2020 commented on #49
worked thanks @NSchnack

[2020-01-22 15:38] #49 closed

[2020-02-04 10:50] jtelleriar opened #53 "Archived on CRAN: Use paws R Library as dependency"
In order to put it back to CRAN, I would use Python's boto3 with reticulate or R's paws Library:

https://cran.r-project.org/web/packages/paws/index.html

[2020-02-04 15:06] JakeRuss commented on #53
@sicarul Pablo, do you have plans to continue maintaining this package?

[2020-02-04 19:51] sicarul commented on #53
Hey @JakeRuss i'm no longer using Amazon Redshift which complicates mantaining the package for me. If someone wants to take over i'm happy to help with the transition

[2020-02-04 20:01] JakeRuss commented on #53
@sicarul I would have interest as I use redshift daily for work. Discussing with my employer whether we'd take over the project. I will reach out to you via email.

[2020-02-18 10:10] niklasvm commented on #53
I have used boto3 via reticulate for copying data between local and S3. If you are going to python then I propose using one of the python solutions for uploading and downloading to/from redshift

[2020-02-18 15:05] JakeRuss commented on #53
I plan to take over the maintainer-ship of this package soon, unless someone beats me to it.

My plan is to use AWS' R SDK {paws} to keep the package simpler to implement and maintain. But if someone else takes over before I do and strongly prefers going the {reticulate}/{boto3} route, by all means do so.

[2020-04-13 20:14] JakeRuss commented on #53
For anyone wishing to follow my progress, I have started refactoring this package over at https://github.com/RedOakStrategic/redshiftTools/tree/redoakjake. I will have an initial working version soon. @russellpierce

[2020-04-13 20:18] jtelleriar commented on #53
Note that aws.s3 package is available again in CRAN, and maintanied by
Simon Urbanek (R Core), so redshiftTools it could be re-uploaded to CRAN.

Best,
Juan

El lun., 13 abr. 2020 22:14, Jake Russ <notifications@github.com> escribió:

[2020-04-13 20:25] JakeRuss commented on #53
I appreciate your note, @jtelleriar. I did see that @su rescued the {aws.s3} package as a temporary measure to get the package back on CRAN, but long term, {paws} is probably a better choice.

[2020-04-14 02:15] su commented on #53
Don't know what Su you guys are talking about but it's not me.

Unsubbing now.

[2020-04-14 06:41] jtelleriar commented on #53
It's @s-u XD

El mar., 14 abr. 2020 4:15, Su <notifications@github.com> escribió:

[2020-04-14 10:35] s-u commented on #53
Yes, that was me ;). It depends on your use-cases, if you don't mind having Python dependency with the associated issues (can only embed one runtime, the usual Python version nightmare and foreign syntax) then `paws` has the benefit being able to leverage Amazon's work directly. With `aws.*` you get a native solution without extra dependencies, but the functionality is limited to what we implement

[2020-04-14 15:34] JakeRuss commented on #48
I am closing this here as I am moving development over to the ROS fork of this package.

[2020-04-14 15:34] #48 closed

[2020-04-16 03:00] JakeRuss commented on #53
There is no dependency on python with {paws}. While I applaud you @s-u and the others in the R community for stepping up to rescue {aws.s3}, I am going to press forward with {paws} for the new internals of {redshiftTools}.

[2020-04-16 03:24] s-u commented on #53
@JakeRuss oh, sorry, I was reading that it uses `reticulate` to wrap `boto3` - my bad. The API looks like an automated translation. There is pretty much zero information about the project so it's hard to know whom to trust ;). I looked now and I see it is also a wapper of `curl`. Thanks.

[2020-04-28 10:36] nba2020gr opened #54 "Installation error: ‘redshiftTools’ is not available (for R version 4.0.0)"
I've just upgraded R to version 4.0.0.
When I try to install the package with the following command
`install.packages("redshiftTools",repos = c("http://rstudio.org/_packages","http://cran.rstudio.com"))
`

I am getting the following error:
[code]

Is it possible to still install it and get my scripts to work?

[2020-04-28 15:33] JakeRuss commented on #54
{redshiftTools} is no longer on CRAN. If you want to install the latest version you'll have to run,
[code]
This version still works, but is no longer being maintained. I am in the process of rehabbing this project and will be maintaining it over at https://github.com/RedOakStrategic/redshiftTools

[2020-04-28 15:44] nba2020 commented on #54
Thanks @JakeRuss I've installed via devtools and worked properly

[2021-02-05 19:25] xushuhere opened #56 "rs_create_table/rs_upsert_table error"
Error: Expecting a single string value: [type=character; extent=2].
[code]